.container {
  display: grid;
  background-color: var(--darker-grey);
  width: 100vw;
  max-width: 540px;
}

.title {
  font-size: var(--text-base);
  line-height: var(--line-base);
  color: var(--grey);
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 16px;
}

/* tablet -> up */
@media (min-width: 640px) {
  .title {
    font-size: var(--text-m);
    line-height: var(--line-m);
  }
}
