.container {
  display: grid;
  grid-template-columns: auto min-content min-content;
  grid-template-rows: auto;
  align-items: center;
  background-color: var(--dark-grey);
  padding: 16px;
  margin: 0 16px 16px;
}

.passwordTxt {
  font-size: var(--text-base);
  background-color: var(--dark-grey);
  color: var(--light-grey);
  border: none;
  opacity: 0.25;
}

.activePassword {
  opacity: 1;
}

.copyBtnContainer {
  width: 17.5px;
  height: 20px;
}

.copyBtn {
  background-image: url("/icon-copy.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 100%;
  height: 100%;
}

.copiedTxt {
  color: var(--pale-green);
  font-size: var(--text-base);

  text-transform: uppercase;
  padding-right: 8px;
}

.copyBtn:hover {
  cursor: pointer;
  background-image: url("/icon-copy-hover.svg");
}

.copyBtn:focus {
  outline: none;
}

/* tablet -> up */
@media (min-width: 768px) {
  .passwordTxt {
    font-size: var(--text-l);
    line-height: var(--line-l);
  }

  .copyBtnContainer {
    width: 21px;
    height: 24px;
  }
}
