.container {
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: auto;
  background-color: var(--darker-grey);
  align-items: center;
  width: 100%;
  padding: 16px;
}

.title {
  font-size: 16px;
  line-height: var(--line-base);
  color: var(--grey);
}

.strengthText {
  font-size: var(--text-base);
  line-height: var(--line-m);
  vertical-align: baseline;
  color: var(--light-grey);
  text-align: right;
}

.indicatorContainer {
  display: grid;
  grid-template-columns: 1fr repeat(4, 10px);
  gap: 10px;
}

.indicator {
  height: 28px;
  width: 10px;
}

.off {
  border: 2px solid var(--light-grey);
}

.tooWeak {
  background-color: var(--pale-red);
}

.weak {
  background-color: var(--pale-orange);
}

.medium {
  background-color: var(--pale-amber);
}

.strong {
  background-color: var(--pale-green);
}

@media (min-width: 768px) {
  .title {
    font-size: var(--text-base);
  }
}
